<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="app img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Error Page!</h1>

            <div class="alert alert-danger">You are not authorized to access the page.
            </div>
        </div>
    </div>
</div>
